html 
{
	scroll-behavior: smooth;
}

body
{
	font-family: 'Roboto Condensed', sans-serif;
	margin:0 !important;
	color:#ffffff;
	overflow-x: hidden;
	font-size: 16px;
	line-height: 1;
}
html,body{
	overflow-x: hidden
}


::selection
{
	background-color:#f2902e !important;
}
::-moz-selection
{
	background-color:#f2902e !important;
}

p, h1, h2, h3, h4, h5, h6
{
	margin:0;
}
.manimg{
	width: 90%;
	height: 310px;
	clear: both;
	float: right;
}
.textal{
	padding: 10px;color:black;font-size: 18px;text-align: justify;
}
@media only screen and (max-width:370px){
	.lgbt{
		padding-top: 10px!important;
	}
}
.prshow2{
	display: none;
}
.log1{
	width: 100%;
}
.log2{
	display: none;
}
.textdisp1{
	display: block;
}
.textdisp2{
	display: none;
}
.qqq1{
	margin-left: 1%;
}
.ppline{
	margin-left:-1%;
}
.divbot{
	margin-bottom: 25px;
}
.gm-style .gm-style-iw{
    color: black!important;
}

@media only screen and (min-width: 300px) and (max-width:480px) {
	.sortimentfont{
		margin-left: -2%!important;
	}
	.funimg{
		width: 100%!important;
		height: initial!important;
	}
	.qqq3{
		margin-left: 1%;
	}
	.qqq2{
		margin-left: 4%;
	}
	.qqq1{
		margin-left: 2%;
	}
	.qqqq{
		margin-left: 4%;
	}
	
	.detaildiv42{
		width: 45%!important;
		margin-right: 3.5%!important;
	}
	.detaildiv41{
		width: 45%!important;
		margin-left: 3.5%!important;
	}
	.textdisp1{
		display: none;
	}
	.textdisp2{
		display: block;
	}
	.msgformwrap{
		margin-right: -60px!important;
		margin-left: -60px!important;
	}
	.log1{
		display: none;
	}
	.log2{
		display: inline;
		
	}
	.logodiv2{
		width: 100%;
		display: flex;justify-content: space-between;
	}
	/* .mapname{
		margin-left: 2px!important;
	} */
	.sorti{
		margin-left: -2%;
	}
	
	.prshow1{
		display: none;
	}
	.prshow2{
		display: inline;
	}
	/* .aktuelle{
		margin: 0!important;
	} */
	.sub5dt{
		padding-top: 19px!important;
		box-shadow: 0 5px 10px 0px rgb(177, 177, 177)!important;
	}
	.hooks{
		margin-top: 10px;
	}
	.textal{
		width: 106%!important;
		margin-left: -3%!important;
	}
	.manimg{
		height: 250px!important;
	}
	/* .center{
		margin-left: -2%!important;
	} */
	.pspace{
		width: 40%!important;
	}
	.pandiv{
		width: 110%!important;
		margin-left: -5%!important;
		/* max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out; */
	}
	.sub3prbt{
		width: 110%!important;
		margin-left: -5%!important;
	}
	.show
	.checkcolor{
		margin-top: 12px!important;
	}
	.headercontact{
		height: 40px;
		font-size:4vw;
		padding-top: 3px!important;
	}
	.bottom_top{
		width: 100%!important;
		clear: both;
		text-align: center;
		padding-top: 5px;
	}
	.absolute{
		width: 100%!important;
		clear: both;
		text-align: center;
		padding-top: 9px;
	}
	
	.iconsize
	{
		font-size:4vw !important;
	}
	.logo {
		/* height: 50px!important;
		padding: 4px!important;
		padding-left: 0px!important; */
		padding-left: 0!important;
		margin-left: -13px!important;
		margin-top: -7px!important;
	}
	.orangebox{
		padding: 5px!important;
		margin-bottom: 15px;
	}
	.relativep{
		position: absolute!important;
	}
	.mainfont{
		font-size: 30px!important;
	}
	.mainfont2{
		font-size: 18px!important;
	}
	.maincont{
		padding-top: 117px!important;
	}
	/* .mainimg{
		height: 400px!important;
	} */
	.menuicon{
		padding-right: 0px!important;

	}
	#notclose{
		margin-right: -11px!important;
	}

	.mailfont{font-size:17px !important;padding-bottom: 15px;}
	.iconsize1{font-size:20px !important; margin-left: -24px;}
	.orangefont{font-size:20px !important;}

	#a2{
		font-size: 18px! important;
	}
	.contactbox{
		margin-top: 0!important;
		margin-bottom: 0!important;
	}
	.vralign{
		margin-top: 5px;
	}
	#imgchange{
		width: 108%!important;
		height: 250px!important;
		margin-left: -4%!important;
	}
	.price_pr{
		width: 108%!important;
		margin-left: -4%!important;
	}
	.showoffleft{
		width: 108%!important;
		margin-left: -4%!important;
	}
	.showoffbottom{
		width: 108%!important;
		margin-left: -4%!important;
	}
	
	#map{
		width: 100%!important;
		height: 400px!important;
	}
	.footerdiv1{
		display: none!important;
	}
	.footerdiv2{
		display: block!important;
	}
	.footer1{
		width: 50%;
		float: left;
		background-color:#023d8b ;
		text-align: center;
		padding: 14px 10px;
		font-size: 16px;
		height: 40px;
	}
	.footer2{
		width: 50%;
		float: right;
		background-color:#023d8b ;
		text-align: center;
		padding: 14px 10px;
		font-size: 16px;
		height: 40px;
	}
}



#map{
	margin: auto;width: 570px;height: 500px;
}
#imgchange{
	width:98%;height: 314px;background-color: rgb(226, 225, 225);
}
#a2{
	font-size: 27px;
}


.iconsize
{
	font-size:18px !important;
	vertical-align:bottom;
}

.headercontact
{
	height:35px;
	background-color:#f2902e;
	padding-top:7px;
}

.header
{
	height:60px;
	background-color:#ffffff;
	top: 35px;
	z-index:1000;
}

.pd
{
	padding:1px;
}

.sticky {
  position: fixed;
  top: 0;

}
.space
{
	height:60px;
	background-color:#ffffff;
}

.container
{
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
}
.mrgauto
{
	margin-left:auto;
	margin-right:auto;
}
.alignr
{
	text-align:right;
}
.vralign
{
	display:inline-block;
	vertical-align:middle;
}

.headmid
{
	padding-top:20px;
}

.headborder
{
	border-left:1px solid #999999;
	padding-left:15px;
}

.logo
{
	margin-top:-8px;margin-left: -22px;
	height:60px;
	padding:3px;
	padding-left:25px;
	width:auto;
}

.logosize
{
	width:190px;
}

.nav, .nav1
{
	list-style-type:none;
	margin:0px;
	color:#666666;
	padding:5px;
}
.slideimg{
	width: 450px;
	height: 350px;
}



.nav > li
{
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	padding-top:22px;
	border-top:0px solid #023d8b;
	font-size:14px;
	cursor:pointer;
	font-weight:500;
}

.mb3{
	margin-bottom:3em
}
.mt9{
	margin-top: 5em !important;
}
.post_box{
	text-align:left;
	    background-color: #fcfafa;
    padding: 20px;
	border:1px solid #e5e2e2;
	color: #3e3e3e;
	box-shadow: 0 0px 0px #d3d3d3;
}

.post_box a{
	text-decoration:none !important;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
		width:100%;
      }
.mainimg
{
	background-image:url("../images/Website\ Banner.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center ;
	height:500px;
}
.sub1topimg
{
	background-image:url("../images/sky.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center top;
	height:600px;
}
.sub3topimg
{
	background-image:url("../images/sea.jpg");
	height:495px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
#pddetail111{
	margin-left: -30%;
}
.detailrow{
	padding:10px 0!important;
}

#imgdetail{
	float: left;
	width: 100%;
	height:auto;
	padding: 0!important;
	color:#000;
	background-color:#ffffff;
	/* box-shadow: 0 0 2px #827e7e; */
	border-radius:4px;
	margin-top: 30px;
	clear: both;
}
#imgdetailsub{
	float: left;
	
	height:270px;
	padding: 0!important;
	color:#000;
	background-color:#ffffff;
	/* box-shadow: 0 0 2px #827e7e; */
	border-radius:4px;
	margin-top: 30px;
}
.spandet{
	padding: 0!important;
	font-size: 20px;
}

.primg
{
	background-image:url("../images/sea.jpg");
	height: 320px;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center top;
	margin-top: 50px;
	/*box-shadow: 1px -4px 20px 14px #666666;*/
}
.maincont
{
	padding:10px;
	padding-top:90px;
}
.mainfont
{
	font-weight:500;
	font-size:58px;
	text-shadow: 1px 1px 3px black;
	line-height:1;
}
.mainfont2
{
	font-weight:500;
	font-size:40px;
	text-shadow: 1px 1px 3px black;
	padding-bottom:10px;
}

.undermainfont
{
	line-height:20px;
	text-shadow: 1px 1px 3px black;
	font-size:14px;
	font-weight:500;
	background-color: #023d8b8c;
	box-shadow: 0px 0px 8px 1px #00000091;
}

.bestellen
{
	background-color:#f2902e;
}
.bestellen:hover
{
	background-color:#F27815;
}

.preise
{
	background-color: #023d8b;
}
.preise:hover
{
	background-color:#0d2ff0;
}

.gotolink
{
	background-color:#60d6af;
}
.gotolink:hover
{
	background-color:#5788c9;
}

.mainbtn
{
	height:45px;
	border-radius:3px;
	text-align:center;
	cursor: pointer;
	padding-top:15px;
	font-size:14px;
	font-weight:700;
	/* box-shadow: 0px 2px 5px #9393ac; */
}

.btnpads
{
	padding:10px;
}

.myfade1 { 
    animation: fadeInAnimation ease 2s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
.myfade2 { 
    animation: fadeInAnimation ease 5s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
.myfade3 { 
    animation: fadeInAnimation ease 9s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.center
{
	text-align:center;
}


@media only screen and (min-width:700px){
	.liner{
		width:33.33333333%;
		position:relative;
		min-height:1px;
		float: left;
	}
	
}
.footerdiv1{
	display:flex;
	justify-content: space-between;
	padding-top:34px;
	margin-top: 70px;
	background-color:#023d8b;
	height: 80px ;
}
.aktuelle{
	width: 100%;
	height: 50px;
	margin-top:50px;
	text-align: center;
}


.circles
{
	
	margin-bottom:25px;
}

.circle
{
	border:2.5px solid #f2902e;
	color:#f2902e;
	padding:8px;
	border-radius:50%;
	font-size:20px;
	width:42px;
	height:42px;
	font-weight:700;
	box-shadow: inset 0 0 5px 0px #d2702e;
}

.inline
{
	display:inline-block;
}

.line, .linel
{
	border-bottom:2px solid #f2902e;
	box-shadow: 0px 0px 3px #f2902e;
}
.line
{
	width:calc(50% - 21px);
}
.linel
{
	width:calc(20% - 21px);
}
.spaceline
{
	width:30%;
	border-bottom:3px solind #ffffff;
}

.undercircles
{
	padding:10px;
	text-align:center;
}

.bigwords
{
	font-weight:700;
	font-size:24px;
	color:#023d8b;
}

.smallwords
{
	margin-top:15px;
	color:#000;
	font-size:18px;
}

.contactbox
{
	background-color:#f2902e;
	margin-top:50px;
	padding-top:15px;
	margin-bottom:25px;
}

.orangebox
{
	font-weight:500;
	font-size:28px;
	text-shadow: 1px 1px 2px black;
	padding:15px;
}

.iconsize1
	{
		font-size:30px !important;
	}

.xscirclemrg
{
	margin-bottom:15px;
}

.dpcircle
{
	display:none;
}

.sortimentfont
{
	font-weight: bold;
    color: #023d8b;
    font-size: 28px;
    margin-block-start: 0.83em;
}
.pspace
{
	width:42%
}
.plines
{
	vertical-align:middle;
	border-top:1px solid #023d8b;
	width:calc(8% - 9.5px);
	padding-bottom:3.8px;
}
.plinescircle
{
	border:3px solid #023d8b;
	border-radius:50%;
	width:13px;
	height:13px;
	margin-right:3px;
	margin-left:3px;
}

.resize1
{
	height:calc(auto + 21.61px)
}
.productname
{
	margin-top: -10px;
	margin-bottom:15px;
	font-weight:700;
}


.intro_span{
	color: black;
	font-size: 20px;
	padding-left: 30px;
	font-family: bold;
	padding-top:-8px
	
}
.intro_arrow{
	padding-top: 5px;
	font-size: 20px;
}
.smtext{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

.smtext1{
	padding-top: 5px;
	padding-bottom: 31px;
	font-size: 14px;
}
.sub3prbt{
	height: 50px;
	background-color:#f2902e;
	margin-top: 30px;
	box-shadow: 0 5px 10px 0 rgb(167, 166, 166);
	cursor: pointer;
	
}
.arrowpart{
	float: right;
	width: 40px;
	height: 30px;
	border-right: 2px solid white;
	margin-top: 10px;
	padding-top: 7px;
	padding-left: 10px;
}
.mapmarkerpart{
	color: white;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom:3px;
	border-bottom:1px solid white;
}
.pdficon{
	width: 20px;
	height: 20px;
	background-image: url();
}
.pdfpart{
	width: 40px;float: right;
	margin-top: 15px;
	margin-left: 13px;
	margin-right: -25px;
}


.productdisplay
{
	color:#000000;
	text-align:center;
	margin-bottom:30px;
}
.checktext{
	height: 75px;
	margin-bottom: 5px;
	padding: 5px 20px 5px 20px;
	/* margin-left:10px ; */

}
.sym-check{
	font-size: 18px;
}
.check_span{
	float: left;font-size: 18px;
}
.prtag{
	border: 1px solid #929191;
	
}
.productimg
{
	max-height:270px;
	/* background-color: rgb(221, 221, 221); */
}
.productimg > img
{
	object-fit:contain;
	max-height:270px;
}
.cage{
	position:relative;min-height:1px;padding-right:15px;padding-left:15px;
	width: 100%;
	float: left;
	background-color: #e8e8e8;
	padding: 10px;
	box-shadow: 0 0 5px #827e7e ;
	
}

.productdisplay sup
{
	font-size:12px;
}
.primgh{
	height: 270px;
}
.primgh1{
	height: 250px;
}
.pricetag
{
	font-size:14px;
	padding:8px;
	border-top:.6px solid #ddd;
}
.pricetagg
{
	font-size:14px;
	padding:5px;
	background-color:#f5f5f5;
	border-top:.6px solid #ddd;
	float:left;
	height: 23.5px;
}
.pricetagg0
{
	font-size:14px;
	padding:5px;
	background-color:#f5f5f5;
	border-top:.6px solid #ddd;
	float:left;
	height: 24px;
}
.pricetag
{
	font-size:15px;
	padding:3px;
	background-color:#f5f5f5;
	border-top:.6px solid #ddd;
	float:left;
	height: 36.5px;
}

.pricetagspace
{
	padding-left:5px;
	padding-right:5px;
	/* border: 1px solid black; */
}

.pricedescrib
{
	text-align:left;
	width:60px;
	font-size:10px;
	height:23.59px;
	/*padding:0;*/
	padding-top:7px;
}

.flr
{
	float:right !important;
}
.fll
{
	float:left !important;
}

.menuicon
{
	color:#000;
	font-size:40px !important;
	padding:16px;
	margin-right: -6px;
}
.menuicon:hover
{
	background-color:#eee;
}

.nav1
	{
		display:none;
	}
.buttonnav
{
	padding:0;
	height:60px;
	display:none;
	float:right;
	cursor:pointer;
}

.techbut
{
	margin-top:60px;
	height:30px;
	color:#ffffff;
	background-color:#f2902e;
	text-align:center;
	font-size:18px;
	padding-top:4px;
	font-weight:500;
	box-shadow: 0 2px 2px #acacac;
}
.techbut:hover
{
	background-color:#f9af54;
	color:#505050
}
.techbut > a
{
	text-decoration:none;
}

.showoffleft
{
	height:125px;
	color:#000;
	padding:10px;
	text-align:center;
	background-color:#ffffff;
	box-shadow: 0 2px 5px #5e5c5c;
	margin-left: -15px;
	margin-bottom: 10px;
}

.showoffbottom{
	height:40px;
	color:#000;
	padding:10px;
	text-align:center;
	background-color:#ffffff;
	box-shadow: 0 2px 5px #5e5c5c;
	margin-bottom: 10px;
	margin-left: -15px;
}
.showlogo{
	width: 70%;
	height: 100px;
	background-size: cover;
}
.logodiv{
	width: 100%;display: flex;justify-content: space-between;
}

	
.logotype{
	
	text-align: center;
	height: 100px;
}

.banner_title{
	margin-top: 55px;
	font-size: 30px;
	color: white;
}
.orangeboxbottom{
	width: 100%;
	height: 220px;
	
	margin: 50px 0;
	padding: 50px;
	text-align: center;
	
}

.pddetail{
	padding: 10px;
}
.bigtitle{
	margin-top:15px;
	font-size: 23px;
	color:#023d8b;
}
.price_pr{
	width: 98%;
    height: 60px;
    margin-top: 20px;
    margin-left: 6%;
    border: 1px solid #EEE;
    text-align: center;
	padding: 5px;
	box-shadow: 0 0 3px #827e7e;
	
}
#pr_tt{
	color: #023d8b;
	font-size: 20px;
}
#pr_dt{
	color: black;
	padding: 5px;
}

.showoffleft:hover
{
	background-color:#f9af54 !important;
	cursor:pointer !important;
}

.showoffbottom:hover
{
	background-color:#f9af54 !important;
	cursor:pointer !important;
}
.imgleft{
	margin-left: -15px!important;
	margin-top: 20px;
}         
#showoffimg{
	height: 270px;
}
.absolute
{
	position:absolute;
}

.rel
{
	position:relative;
}

.rel > p
{
	width:100%;
	left:0;
}

.orangefoot
{
	background-color:#f2902e;
	padding-bottom:25px;
}

.bluefoot
{
	background-color:#023d8b;
}

.bluefoot a
{
	text-decoration:none;
	color:#dddddd;
}
.bluefoot a:hover
{
	text-decoration:underline;
	color:#ffffff;
}

.blueheight
{
	margin-bottom:40px;
	margin-top:40px;
}

.verticalmiddle {
  display : flex;
  align-items : center;
  justify-content: center;
}

.footlinks
{
	font-size:4vw;
}

.footinfo
{
	color: rgb(242, 246, 247);
	margin-top:20px;
}

.footinfo1
{
	color: black;
	margin-top:20px;
}
.message-btn{
	width: 127px;
	height: 50px;
	background-color: #f2902e;
	font-size: 24px;
	font-family:'Ubuntu', sans-serif ;
	border:1px solid #f2902e;
	margin-top: 50px;
}
.messageform:focus {
    outline: none !important;
    border:1px solid #f2902e;
    box-shadow: 0 0 10px #719ECE;
}
.messageform
{
	height:40px;
	background-color:#f5f5f5;
	border:1px solid #ddd;
	border-radius:4px;
	margin-top:20px;
	width:100%;
	padding-left:7px;
	padding-right:7px;
	box-shadow: inset 0 0 3px 0px #a7a7a7;
}

.messagebutton
{
	width:200px;
	height:30px;
	border-radius:4px;
	background-color:#f2902e;
	margin-top:25px;
	border:0;
	margin-bottom:50px;
	color:#fff;
}
.messagebutton:hover
{
	cursor:pointer;
	background-color:#f9af54;
	color:#fdfdfd;
}

.textarea
{
	resize: none;
    overflow: auto;
	height:120px;
	padding:10px;
	line-height:1.3em;
	color: rgb(82, 80, 80);
	font-size: 16px;
}
input:focus, textarea:focus
{
	border:0;
}

.textformat
{
	color:#000;
	font-size:12px;
	border:1px solid #acacac;
	padding: 20px;
	box-shadow:0 2px 4px #acacac ;
	margin-top: -20px;

}

.mapname
{
	color:#f2902e;
	font-size:20px;
}

.uber
{
	padding:10px;
	width:100%;
	position: absolute;

	transform: skewX(15deg);
}

.uberwrap
{
	transform: skewX(-15deg);
	border: 2px #f2902e solid;
	min-height: 160px;
	background-color: #f2902e;
	position: relative;
}

.pda{
	padding-top: 25px;
}

.uber1{
	border-color: #023d8b;
	background-color: #023d8b;
}
.checkcolor{
	color:#f2902e ;
	font-size: 17px!important;
	margin-top: 3px;
}

.upuber{
	text-align: center;
	padding: 10px;
	color: #f2902e;
	position: relative;
	z-index: 12;
}


.mapwrap
{
		max-width:800px;
}

.mrgtop
{
	margin-top:20px;
}

.relmid
{
	position:relative;
	top: 50%;
  transform: translateY(-50%);
}
.funimg{
	width: 390px;
	height: 270px;
}

@media only screen and (max-width: 750px)
{
	.buttonnav{display:block !important;}
	.nav
	{
		display:none;
	}
	.nav1
	{
		float:right;
		top:95px;
		position:absolute;
		box-shadow: -4px 11px 8px #0000005c;
		right:0;
	}

	.sticky1
	{
		top:60px;
	}

	.nav1 > li
	{
		padding-left:10px;
		padding-right:10px;
		padding-top:22px;
		border-top:0px solid #023d8b;
		font-size:14px;
		cursor:pointer;
		font-weight:500;
		text-align:center;
		width:200px;
		border-top:0px solid #023d8b;
		padding-bottom:15px;
		background-color:#ffffff;

	}/*826px shows*/
	.logo{position:absolute;margin-left:auto;margin-right:auto;}
	.logosize{width:170px;}
}

.kontakt{
	background-color: transparent;
	/*border-radius: 50px;*/
}

.msgformwrap{
	padding-left: 15px;
	padding-right: 15px;
}
.detaildiv41{

	margin-bottom: 20px;
	cursor: pointer;
	color: white;
	width: 48.5%;
	float: left;
	margin-left: 1.5%;
}
.detaildiv42{
	margin-bottom: 20px;
	cursor: pointer;
	color: white;
	width: 48%;
	float: right;
	margin-right: 1%;
}

.sub5dt{
	width: 100%;
	height: 73px;
	background-color: #023d8b;
	text-align: center;
	padding-top: 26px;
	box-shadow: 0 5px 10px 5px rgb(177, 177, 177);
	color: rgb(231, 231, 231);
	font-size: 18px;
}
.sub5dt:hover{
	color: white;
	text-decoration: none;
}

.backkontakt{
	background-color: #f1f1f1;
	top: 9%;
	height: 85%;
	width: 100vw;
	position: absolute;
	z-index: -1;
}

.backkonwrap{
	position: relative;
	overflow: hidden;
}

/* .koncircle{border-color: #a992ff} */

@media only screen and (max-width: 699px)
{
	.none {display:none;}
	.iconsize1{font-size:24px !important;}
	.orangebox{font-size: 4vw;}
	.dpcircle{display:block;}
	.nocircle{display:none !important;}
	.smallwords{padding-left:70px;padding-right:70px;}
}
@media only screen and (max-width: 500px)
{
	.smallwords{padding-left:15px;padding-right:15px;}
}

@media only screen and (max-width: 490px)
{
	.iconsize
	{
		font-size:14px !important;
	}
	.headercontact
	{
		font-size:14px;
	}
}


@media only screen and (max-width: 350px)
{
	.mainfont{font-size:26px !important;}
	/* .mainfont2{font-size:28px;}
	.messagebutton{width:130px;} */
}

@media only screen and (min-width: 700px)
{
	.col-md-69{width:63%!important;}
}

.hidden{
	display: none;
	visibility: hidden;
}
.bottom_top{
	float: right;
	padding-right: 8px;
}

#scrollUp {
    background-image: url(../images/top.png);
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
	height: 38px;   /* Height of image */
	background-repeat: no-repeat;
	/* border: 1px solid black; */
	/* border-radius: 50%; */
}
#leistungen{
	text-align: center;	
	margin-left: 5px;
}
@media only screen and (max-width: 700px)
{
	#home{height: 60px;background-color:#f2902e ;}
	
	.absolute{width: 100%;clear: both;text-align: center;position: relative;}
	.bottom_top{width:100%!important;clear: both;text-align: center;padding-top: 10px;}
}
.removespace{
	width: 130%;
    height: 1px;
    margin-left: -15%;
    background-color: #e8e8e8;
}
.panelq {
	background-color: #f2902e;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	/* display: none; */
	border: 1px solid #e8e8e8;
	
}
.showpanel{
	padding: 15px 5px;
}

.logotypesize{
	width: 120px;
	height: 100px;
}

.panel1{
	margin: 10px 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	
}

  .arrow1{
	  color: white;
	  text-align: left;
	  margin-left: -15px;
  }
  .arrow2{
	color: white;
	
}
.linksicon{
	color: rgb(216, 215, 215);
	margin-top: 40px;
	text-decoration: none;
}
.linksicon:hover{
	color: rgb(248, 247, 247);
}
.panfont{
	text-align: justify;color: black;
	padding-bottom: 4px;
}
.pandiv{
	display: none;
	margin-left: 20px;
	margin-left: 16.7%;
	background: #e8e8e8;
	box-shadow: 0 5px 10px 0 rgb(167, 166, 166);
} 

.accordion {
	/* margin-top: 10px;; */
	background-color: #023d8b;
	color: white;
	cursor: pointer;
	padding: 10px;
	height: 36px;
	border: 0;
	outline: none;
	font-size: 15px;
	transition: 0.8s;
}
.accordion1 {
	/* margin-top: 10px;; */
	background-color: #023d8b;
	color: white;
	cursor: pointer;
	padding: 10px;
	height: 36px;
	border: 0;
	outline: none;
	font-size: 15px;
	transition: 0.8s;
	margin-top: 20px;
}

.mylogo img{
	filter:grayscale(0);
}	

@media only screen and (min-width:767px){
	.mylogo img{
		filter:grayscale(100%);
	}
	.mylogo img:hover{
		filter:grayscale(0);
	}	
}

